/* formato del programa */

.intermission {
    background-color: rgb(242, 248, 255)
}

.card {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card-row {
    padding: 1.5rem 1rem;
}

.card-body {
    text-align: justify;
    margin-bottom: 15px;
}

.row.card-bottom {
    margin-bottom: 12px;
}

.speaker {
    max-height: 100px;
    max-width: 100px;
}

/* formato de calendario */

.date {
    margin-bottom: 30px;
}


/* formato de contenido */
.vertical-center{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.activate{
    opacity: 0%;
}

body{
    font-family: Lucida Bright,Georgia,serif ;
}

strong{
    font-size: 55px;
}

.dark {
    background-color: #070707 !important;
}

.nav-link.active {
    font-weight: 400;
    cursor: pointer;
}

#registry-button {
    background-color: #f64c69;
    border-color: #f65c74;
    width: 180px;
    height: 45px;
    padding: 10px;
    box-shadow: black 0px 0px 8px 0px;
    text-shadow: 0px 1px 3.5px black;
    /*animation: brightness 3s infinite;*/
}

.active-15{
    opacity: 100%;
    animation: appear15 1.5s forwards;
}

.active-25{
    opacity: 100%;
    animation: appear25 1.75s forwards;
}

.active-35{
    opacity: 100%;
    animation: appear35 1.75s forwards;
}

#date{
    font-size: 35px;
}

#comite {
    height: 1250px;
}

#contacto, #temas{
    height: 320px;
}

#objetivo {
    height: 425px;
}

#introduccion{
    height: 640px;
}

#calendario {
    height: 665px;
}

#navbarNavDropdown {
    left: 0px;
    top: 60px;
    width: 100%;
}

#introduccion, #contacto{
    background-color: #040404;
    color: #ece9e8;
}

.section{
    margin-bottom: 45px;
}

.day {
    margin-bottom: 50px;
}

.logo{
    width: 100%;
    max-width: 200px;
}

.separador{
    margin-bottom: 50px;
    margin-top: 0px;
}

/* alineaciones de texto */

.justified{
    text-align: justify;
}

.centered{
    text-align: center;
}

.righted{
    text-align: right;
}

.lefted{
    text-align: left;
}

.content {
    margin-top: 60px;
    min-width: 320px;
}

#main-header {
    background-position: center;
    background-image: url('/sdc2/img/poster.png');
    background-size: cover;
    height: 680px;
    background-color: black;
    color: black;
    text-align: center;
}

.title{
    font-weight: 400;
    font-size: 50px;
}

.header-space{
    margin-top: 20px;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: #00a087;
}

.register {
    top: 100px;
    position: relative;
    text-shadow: 0px 0px 2px black;
}

.register .row:nth-child(1) {
  margin-bottom: 5px;
}

.register .row:nth-child(2) {
  margin-bottom: 20px;
}

.register .row:nth-child(3) {
  margin-bottom: 20px;
}

.footer-bottom {
    background-color: #040404;;
    color: white;
}

.row.footer-data.footer-end {
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* media queries */

@media only screen and (max-width: 767px) {
  #navbarNavDropdown{
    position: fixed;
    width: 100%;
  }


  .button-container{
    margin-top: 20px;
    text-align: center;
  }

  .nav-item {
    border-top: 0.5px solid white;
  }

  .register{
    top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title{
    font-size: 42px;
  }

  strong{
    font-size: 46px;
  }
}

@media only screen and (max-width: 500px) {
  .title{
    font-size: 36px;
  }

  .register{
    top: 50px;
    text-shadow: 0px 0px 1px black;
  }

  strong{
    font-size: 40px;
  }

  .header-space{
    margin-top: 4px;
  }


}

@media only screen and (max-width: 600px) {
  .row-button {
    margin-bottom: 10px;
  }
}

@keyframes brightness{
    0%{
        filter: brightness(1.2);
    }
    50%{
        filter: brightness(0.7);
    }

    100%{
        filter: brightness(1.2);
    }
}

@keyframes appear15{
    0%{
        opacity: 0%;
    }
    20%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes appear25{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes appear35{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}